.container .testimonals_container {
    width: 40%;
}
.client-img{
    width: 10%;
    aspect-ratio: 1/1;
    margin: 0 auto 1rem;
    border-radius: 50%;
    border: 0.4rem solid var(--color-light);
}
.testimonals_container {
    display: flex;
    flex-wrap: wrap;
}
.testimonal{
    user-select: none;
    border-radius: 2rem;
    padding: 2rem;
    text-align: center;
    background: var(--color-bg-variant);
}

.client-review {
    font-weight: 300;
    color: var(--color-light);
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;


}

@media screen and (max-width: 1024px) {
    .testimonals_container {
        width: 60%;
    }
 }
 
 /* =============== MEDIA QUERRIES (Small Devices) =========== */
 @media screen and (max-width: 600px) {
    .testimonals_container {
        width: var(--container-width-sm);
    }
    .client__review {
        width: var(--container-width-sm);
    }
 }